body{
	background: #d4d4dd;
}
#navbar{
	width: 100%;
}
.main-container {
	background: #ffffff;
	margin-top: 5px;
}
.navbar-default .navbar-nav>li>a {
	color: #000;
	text-transform: uppercase;
}
@media screen and (min-width: 1200px){
	.navbar.container {
		max-width: none;
		margin: 0 auto;
		width: 100%;
		background: #ffffff;
		border: 0;
		max-height: 50px;
		overflow: hidden;
	}
}

@media screen and (min-width: 992px){
	.navbar.container {
		background: white;
		border: 0;
	}
}

@media screen and (min-width: 768px){
	.navbar .logo {
	margin-right: 0;
	padding-left: 0;
	margin: 0;
	}
}